<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pushster&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Register here</h1>
    <div class="div_container">

        <form action="/user/add" method="post">
            <label for="Name">Username:</label><br>
            <input type="text" id="Name" name="name" required><br>
            <label for="Mail">Mail:</label><br>
            <input type="email" id="Mail" name="email" required><br><br>
            <input type="submit" id="submit" value="Submit">
        </form>
    </div>

</body>

</html> 